@{
    ViewBag.Title = "Index";
}

<div id="pages">
    <h1 data-bind="text:pages.activePage().title"></h1>
    <div data-bind="visible:pages.people.isVisible, attr:{id:pages.people.id}">
        <table id="peopleList" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Palindrome</th>
                    <th>Authorised</th>
                    <th>Enabled</th>
                    <th>Colours</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:pages.people.list">
                <tr>
                    <td><a data-bind="text:name, attr:{href: href}, click:$root.pages.update.activate"></a></td>
                    <td data-bind="text:isPalindrome ? 'Yes' : 'No', css: isPalindrome ? 'text-success' : 'text-danger'"></td>
                    <td data-bind="text:isAuthorised ? 'Yes' : 'No', css: isAuthorised ? 'text-success' : 'text-danger'"></td>
                    <td data-bind="text:isEnabled ? 'Yes' : 'No', css: isEnabled ? 'text-success' : 'text-danger'"></td>
                    <td data-bind="text:colours"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div data-bind="visible:pages.update.isVisible, attr:{id:pages.update.id}">
        <h2>User Details</h2>
        <div class="container" data-bind="foreach: pages.update.person().details">
            <div class=" row">
                <div class="col-lg-1" data-bind="text:label, click:toggle"></div>
                <div class="col-lg-4">
                    <input type="checkbox" data-bind="checked:value" />
                </div>
             </div>
        </div>
           
        <h2>Favourite Colours</h2>
        <div class="container" data-bind="foreach: pages.update.person().colours">
            <div class="row">
                <div class="col-lg-1" data-bind="text: colour.name, click: toggle"></div>
                <div class="col-lg-4"><input type="checkbox" data-bind="checked: isFavourite" /></div>
            </div>
        </div>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <input type="button" data-bind="click: pages.update.save" class="btn btn-primary" value="Save Changes"/>
                    <input type="button" data-bind="click: pages.update.cancel" class="btn" value="Cancel" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Js
{
    <script type="text/javascript" language="javascript" src="~/Scripts/techtest.js"></script>
}
